# ==== FRONTEND (React / Vite / Node.js / Next.js / TypeScript) ====
node_modules/
dist/
build/
.vite/
.next/
out/
.cache/
*.log
*.lock
*.tsbuildinfo
.env
.env.local

# === BACKEND (Django / Python) ====
__pycache__/
*.py[cod]
*.sqlite3
*.log
db.sqlite3
media/
staticfiles/
.env
.env.*
**/migrations/*.py
!**/migrations/__init__.py

# === ENVIRONNEMENTS VIRTUELS ===
env/
venv/
.venv/

# === SYSTEME D'EXPLOITATION ===
.DS_Store
Thumbs.db

# === IDEs ===
.vscode/
.idea/

# === GIT ===
*.orig
*.rej
*.swp
